name: Test Adapters Against Schema

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f pyproject.toml ]; then
            python -m pip install poetry
            poetry install --no-interaction --no-ansi
          elif [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          python -m pytest test/test.py \
            --adapters-config=./config/adapters_config_sample.yaml \
            --dbsnp-rsids=./aux_files/sample_dbsnp_rsids.pkl \
            --dbsnp-pos=./aux_files/sample_dbsnp_pos.pkl \
            -v -s
